<div class="whiteBox" style="width: 217.5mm; height: 35mm; border: none;">
  <div class="whiteBox" style="width: 46mm; height: 29mm; border: none;">
    <img src="data:image/jpg;base64,{{logoImage}}" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 129mm; height: 29mm; border: none;">
    <div class="whiteBox" style="width: 129mm; height: 1.5mm; border: none; line-height: 1.5;"></div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{address1line1}}</div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{address1line2}}</div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{phone1}}</div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{fax}}</div>
    <div class="whiteBox" style="width: 129mm; height: 1.5mm; border: none; line-height: 1.5;"></div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{phone2}}</div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{address2line1}}</div>
    <div class="headerBox" style="width: 129mm; height: 3mm; line-height: 1.5;">{{address2line2}}</div>
  </div>
  <div class="whiteBox" style="width: 35mm; height: 29mm; border: none;">
    <div class="whiteBox" style="width: 35mm; height: 1.5mm; border: none; line-height: 1.5;"></div>
    {{#each pathologist}}
    <div class="headerBox" style="width: 41mm; height: 3mm; border: none; text-align: left;">{{this}}</div>
    {{/each}}
  </div>
    <div class="whiteBox" style="width: 217mm; border: none; text-align: center; line-height: 1; font-size: 4.5mm; font-weight: bold;">Gyn Cytology/Pathology Testing</div>
</div>
