<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylus.css">
    <title></title>
  </head>
  <body>
    <div class="page">

{{!patient information section}}
      <div class="box" style="height: 35mm; width: 217mm; border: none"></div>
      <div class="heading" style="background-color: white; line-height: 1.5; font-size: 5mm; display: inline-block">{{title}}</div>
      <div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">{{subtitle}}</div>
      <div class="row">
        <div class="box" style="width: 25mm; line-height: 1;">{{patientName}}</div>
        <div class="box" style="width: 65mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 10mm;">{{firstName}}</div>
        <div class="box" style="width: 50mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 6mm;">{{middleName}}</div>
        <div class="box" style="width: 8.5mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 15mm; line-height: 1; background-color: #fff19c">{{orderingProvider}}</div>
        <div class="box" style="width: 35mm; background-color: #fff19c; border-right: 1px solid ;"></div>
      </div>
      <div class="row">
        <div class="box" style="width: 20mm;">{{dateOfBirth}}</div>
        <div class="box" style="width: 19mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 9mm;">{{sex}}</div>
        <div class="box" style="width: 8mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 9mm;">{{socialSecurityNumber}}</div>
        <div class="box" style="width: 40mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 12mm;">{{phoneNumber}}</div>
        <div class="box" style="width: 40mm; background-color: #f9edef;"></div>
        <div class="box" style="width: 12mm; background-color: #fff19c">{{chartNumber}}</div>
        <div class="box" style="width: 45mm; background-color: #fff19c; border-right: 1px solid;"></div>
      </div>
      <div class="row">
        <div class="box" style="width: 28mm;">{{patientAddress}}</div>
        <div class="box" style="width: 67mm; background-color: #f9edef"></div>
        <div class="box" style="width: 8mm;">{{city}}</div>
        <div class="box" style="width: 52mm; background-color: #f9edef"></div>
        <div class="box" style="width: 6mm;">{{state}}</div>
        <div class="box" style="width: 20.5mm; background-color: #f9edef"></div>
        <div class="box" style="width: 7mm;">{{zipCode}}</div>
        <div class="box" style="width: 26mm; background-color: #f9edef; border-right: 1px solid;"></div>
      </div>

{{!billing information section}}
      <div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">{{billingInfo}}</div>
      <div class="row">
        <div class="box" style="width: 33mm; border: none;">{{insurance}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 8mm; border: none; text-align: left; padding-left: 1mm">{{ip}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 13mm; border: none; text-align: left; padding-left: 1mm">{{op}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 30mm; border: none; text-align: left; padding-left: 1mm">{{privatePractice}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 38mm; border: none; text-align: left; padding-left: 1mm">{{hospitalOwned}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">{{patientInsurance}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid "></div>
        </div>
        <div class="box" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">{{uninsured}}</div>
        <div class="box" style="width: 4mm; border: none;">
          <div class="checkBox" style="border: 1px solid"></div>
        </div>
        <div class="box" style="width: 19.5mm; border: none; text-align: left; padding-left: 1mm;">{{medicare}}</div>
      </div>
      <div class="box" style="width: 217mm; border: none; text-align: center"><span class="highlight">{{demographics}}</span></div>
      <div class="row">
        <div class="box" style="width: 37mm; border: none; text-align: right; padding-left: 1mm;">{{primary}}</div>
        <div class="box" style="width: 68mm; border: none;">
          <div class="underLine" style="border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 40mm; text-align: right; border: none; text-align: left; padding-left: 1mm;">{{secondary}}</div>
        <div class="box" style="width: 68mm; border: none;">
          <div class="underLine" style="width: 65mm; border-bottom: 1px solid "></div>
        </div>
      </div>
      <div class="row">
        <div class="box" style="width: 15mm; border: none">{{insuranceID}}</div>
        <div class="box" style="width: 33.75mm; border: none;">
          <div class="underLine" style="width: 33.75mm; border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 20mm; padding-left: 1mm; border: none;">{{insuranceGroup}}</div>
        <div class="box" style="width: 33.75mm; padding-left: 1mm; border: none;">
          <div class="underLine" style="width: 33.75mm;border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 15mm; padding-left: 1mm; border: none">{{insuranceID}}</div>
        <div class="box" style="width: 35mm; padding-left: 1mm; border: none;">
          <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 20mm; padding-left: 1mm; border: none;">{{insuranceGroup}}</div>
        <div class="box" style="width: 35mm; padding-left: 1mm; border: none;">
          <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
        </div>
      </div>
      <div class="row">
        <div class="box" style="width: 32mm; border: none;">{{policyHolder}}</div>
        <div class="box" style="width: 35mm; border: none;">
          <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 20mm; border: none;">{{dateOfBirth}}</div>
        <div class="box" style="width: 20mm; border: none;">
          <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 32mm; border: none;">{{policyHolder}}</div>
        <div class="box" style="width: 35mm; border: none;">
          <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
        </div>
        <div class="box" style="width: 20mm; border: none;">{{dateOfBirth}}</div>
        <div class="box" style="width: 20mm; border: none;">
          <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
        </div>
      </div>
      <div class="row">
        <div class="box" style="width: 15mm; border: none;">{{address}}</div>
        <div class="box" style="width: 55mm; border: none;">
          <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 15mm; border: none;">{{phoneNumber}}</div>
        <div class="box" style="width: 20mm; border: none;">
          <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 15mm; border: none;">{{address}}</div>
        <div class="box" style="width: 55mm; border: none;">
          <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 15mm; border: none;">{{phoneNumber}}</div>
        <div class="box" style="width: 20mm; border: none;">
          <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
        </div>
      </div>
      <div class="row">
        <div class="box" style="width: 10mm; border: none;">{{city}}</div>
        <div class="box" style="width: 40mm; border: none;">
          <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 8mm; border: none;">{{state}}</div>
        <div class="box" style="width: 15mm; border: none;">
          <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 8mm; border: none;">{{zipCode}}</div>
        <div class="box" style="width: 25mm; border: none;">
          <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 10mm; border: none;">{{city}}</div>
        <div class="box" style="width: 40mm; border: none;">
          <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 8mm; border: none;">{{state}}</div>
        <div class="box" style="width: 15mm; border: none;">
          <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
        </div>
        <div class="box" style="width: 8mm; border: none;">{{zipCode}}</div>
        <div class="box" style="width: 25mm; border: none;">
          <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
        </div>
      </div>


      <div class="row">
{{!top left box of center section}}
        <div class="box" style="width: 102.5mm; height: 56.75mm; border-left: 4mm solid;; border-top: 2mm solid; border-bottom: none;">
          <div class="box" style="width: 25mm; border-bottom: 1mm solid; border-left: none; padding-left: 15mm; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm">{{test}}</div>
          <div class="box" style="width: 6mm; border-bottom: 1mm solid; border-left: none; padding-left: 10mm; border-bottom: 1mm solid">
            <div class="checkBox" style="width: 3mm; height: 3mm; border: 1px solid"></div>
          </div>
          <div class="box" style="width: 10mm; border-bottom: 1mm solid; border-left: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm">{{yes}}</div>
          <div class="box" style="width: 6mm; border-bottom: 1mm solid; border-left: none; padding-left: 10mm;">
            <div class="checkBox" style="width: 3mm; height:3mm; border: 1px solid"></div>
          </div>
          <div class="box" style="width: 10mm; border-bottom: 1mm solid; border-left: none; padding-right: 10.5mm; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm">{{no}}</div>
          <div class="box" style="width: 102.5mm; border: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; background-color: #fff19c">{{history}}</div>
          <div class="box" style="width: 102.5mm; border-bottom: 1mm solid; border-left: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; background-color: #fff19c">{{codeRequired}}</div>
          <div class="box" style="width: 50mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-size: 3mm; text-decoration: underline; font-weight: bold; text-align: left; padding-left: 1mm;">{{specimenSource}}</div>
          <div class="box" style="width: 50mm; height: 4mm; border: none; line-height: 1.25; letter-spacing: .1mm; font-size: 3mm; text-decoration: underline; font-weight: bold; text-align: left; padding-left: 1mm;">{{specimenType}}</div>


          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 45mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{vaginal}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 40mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{thinPrep}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 45mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{ce}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 40mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{urine}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 10mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{other}}</div>
            <div class="box" style="width: 35mm; border: none;">
              <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
            </div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 20mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{blood}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 50mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;"></div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 20mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{swab}}</div>
          </div>

          <div class="box" style="width: 97.5mm; border: none; padding-left: 2mm; padding-top: 2mm">
            <div class="box" style="width: 25mm; height: 4mm;border: none; font-size: 3mm; line-height: 2; font-weight: bold; letter-spacing: .1mm; text-align: left; background-color: #fff19c">{{collectionDate}}</div>
            <div class="box" style="width: 20mm; border: none;">
              <div class="underLine" style="width: 20mm; border-bottom: 1px solid; background-color: #fff19c"></div>
            </div>
            <div class="box" style="width: 23mm.5; height: 4mm;border: none; font-size: 3mm; padding-left: 2mm; line-height: 2; font-weight: bold; letter-spacing: .1mm; text-align: left; background-color: #fff19c">{{collectionTime}}</div>
            <div class="box" style="width: 20mm; border: none;">
              <div class="underLine" style="width: 20mm; border-bottom: 1px solid; background-color: #fff19c"></div>
            </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none; padding-left: 2mm;">

            <div class="box" style="width: 45.75mm; border: none; padding-left: 2mm; padding-top: 2mm">
              <div class="box" style="width: 6mm; border: none; padding-top: .5mm">
                <div class="checkBox" style="border: 1px solid; height: 3mm; width: 3mm "></div>
              </div>
              <div class="box" style="width: 25mm; height: 4mm;border: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; font-weight: bold; letter-spacing: .1mm; text-align: left">{{screening}}</div>
            </div>

            <div class="box" style="width: 45.75mm; border: none; padding-left: 2mm; padding-top: 2mm">
              <div class="box" style="width: 6mm; border: none; padding-top: .5mm">
                <div class="checkBox" style="border: 1px solid; height: 3mm; width: 3mm "></div>
              </div>
              <div class="box" style="width: 25mm; height: 4mm;border: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; font-weight: bold; letter-spacing: .1mm; text-align: left">{{diagnostic}}</div>
            </div>
          </div>
        </div>





{{!top right box of center section}}
        <div class="box" style="width: 102.5mm; height: 55mm; border-right: 4mm solid; border-left: 4mm solid; border-top: 2mm solid; border-bottom: 2mm solid;">

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 102.5mm; border: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; background-color: #fff19c">{{additionalTesting}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 102.5mm; height: 4mm;border: none; font-weight: bold; font-size: 2.5mm; line-height: 1.5; letter-spacing: .1mm; background-color: #fff19c; border-bottom: 1mm solid;">{{cannotProcess}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 20mm; height: 5mm;border: none; font-weight: bold; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: center; padding-left: 1mm; text-decoration: underline;">{{hpvTesting}}</div>
            <div class="box" style="width: 75mm; height: 5mm;border: none; font-weight: bold; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{screeningGenotyping}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 97.5mm; border: none">
              <div class="box" style="width: 5mm; border: none;">
                <div class="checkBox" style="border: 1px solid "></div>
              </div>
              <div class="box" style="width: 46mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{routineHpv}}</div>
              <div class="box" style="width: 46mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;"></div>
            </div>
          </div>


          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{ascusOnly}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{ascusAbove}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{hpvONLY}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

          <div class="box" style="width: 97.5mm; height: 6mm; border: none; padding-top: 1mm">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 1; letter-spacing: .1mm; text-align: left; padding: none">{{reflexGenotyping}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 43mm; height: 5mm;border: none; padding-left: 2mm; font-weight: bold; text-decoration: underline; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{additionalTesting}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none; padding-top: 1mm">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{ngct}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none;">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 43mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left; padding: none">{{trich}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; height: 5mm;border: none; font-size: 3mm; line-height: 2; letter-spacing: .1mm; text-align: left;">{{dx}}</div>
              <div class="underLine" style="width: 30mm;border-bottom: 1px solid "></div>
          </div>

        </div>
      </div>




      <div class="row">
{{!bottom left box of center section}}
        <div class="box" style="width: 104.5mm; height: 55mm; border-left: 4mm solid; border-bottom: 5mm solid; border-bottom: none;">

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none; padding-top: 2mm">
            <div class="box" style="width: 12mm; border: none; font-weight: bold; line-height: 1.5; letter-spacing: .1mm; font-size: 3mm; text-align: right;">{{lmp}}</div>
            <div class="box" style="width: 25mm; padding-left: 1mm; border: none;">
              <div class="underLine" style="width: 25mm;border-bottom: 1px solid "></div>
            </div>
            <div class="box" style="width: 15mm; border: none; font-weight: bold; line-height: 1.5; letter-spacing: .1mm; font-size: 3mm">{{icd}}</div>
            <div class="box" style="width: 40mm; padding-left: 1mm; border: none;">
              <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
            </div>
          </div>


          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 51mm; height: 4mm; border: none; font-weight: bold; font-size: 2.5mm; line-height: 1.5; letter-spacing: .1mm; text-align: right"></div>
            <div class="box" style="width: 46mm; height: 4mm; border: none; font-weight: bold; font-size: 2.5mm; line-height: 1.5; letter-spacing: .1mm; background-color: #fff19c">{{cannotProcess}}</div>
          </div>


          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 102.5mm; border: none; font-weight: bold; line-height: 1.25; letter-spacing: .1mm; padding-left: 2mm; font-size: 3mm; text-align: left; text-decoration: underline;">{{clinicalHistory}}</div>
          </div>


          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{abnormalBleeding}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{prenatal}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{postPartum}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none;; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{postMenopausal}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{highRisk}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{bcp}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.75mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{depo}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
        </div>



{{!bottom right box of center section}}
        <div class="box" style="width: 104.5mm; height: 55mm; border-right: 4mm solid; border-left: none; border-bottom: none;">

          <div class="box" style="width: 97.5mm; border: none; padding-left: 2mm;">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 33mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{hysterectomy}}</div>
            <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{cervixPresent}}</div>
            <div class="box" style="width: 4mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 10mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{yes}}</div>
            <div class="box" style="width: 4mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 10mm; border: none;; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{no}}</div>
          </div>


          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{hormoneTherapy}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{cervicitis}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{vaginitis}}</div>
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{other}}</div>
            <div class="box" style="width: 25mm; padding-left: 2mm; border: none;">
              <div class="underLine" style="width: 25mm;border-bottom: 1px solid "></div>
            </div>
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm">{{dx}}</div>
              <div class="box" style="width: 30mm; padding-left: 1mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none; height: 4.75mm;">
            <div class="box" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-weight: bold; text-decoration: underline; font-size: 3mm; text-align: left; padding-left: 3mm">{{papHistory}}</div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{pnp}}</div>

            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; padding-left: 2mm">{{date}}</div>
              <div class="box" style="width: 30mm; padding-left: 2mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{pab}}</div>

            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; padding-left: 2mm">{{date}}</div>
              <div class="box" style="width: 30mm; padding-left: 2mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 5mm; border: none; padding-left: 2mm">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{pbx}}</div>
            <div class="box" style="width: 6mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; padding-left: 2mm;">{{date}}</div>
              <div class="box" style="width: 30mm; padding-left: 2mm; border: none;">
                <div class="underLine" style="width: 42mm;border-bottom: 1px solid "></div>
              </div>
          </div>
      </div>

      <div class="box" style="width: 217mm; font-weight: bold; text-align: center; border: none; background: #a95346; color: white; line-height: 1.25; letter-spacing: .1mm; font-size: 4.5mm; padding-top: 0.5mm;">{{biopsy}}</div>


        <div class="box" style="width: 97.5mm; height: 43mm; border: 1px solid; border-right: none">

          <div class="box" style="width: 97.5mm; border: none">
            <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm; font-weight: bold; text-decoration: underline">{{specimenSource}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{cxbx}}</div>
              <div class="box" style="width: 60mm; border: none;">
                <div class="underLine" style="width: 60mm;border-bottom: 1px solid "></div>
              </div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{vulvabx}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{vagbx}}</div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{ecc}}</div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{emb}}</div>
          </div>
          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{leep}}</div>
          </div>

          <div class="box" style="width: 97.5mm; height: 4.5mm; border: none">
            <div class="box" style="width: 5mm; border: none;">
              <div class="checkBox" style="border: 1px solid "></div>
            </div>
            <div class="box" style="width: 10mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{other}}</div>
              <div class="box" style="width: 80mm; border: none;">
                <div class="underLine" style="width: 80mm;border-bottom: 1px solid "></div>
              </div>
          </div>

      </div>

      <div class="box" style="width: 118.68mm; height: 43mm; border: 1px solid">

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 5mm; border: none;">
            <div class="checkBox" style="border: 1px solid "></div>
          </div>
          <div class="box" style="width: 75mm; border: none; line-height: 2; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{correlation}}</div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 25mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2">{{clinicalHistory}}</div>
            <div class="box" style="width: 87mm; border: none;">
              <div class="underLine" style="width: 87mm;border-bottom: 1px solid "></div>
            </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 110mm; border: none; padding-left: 2mm">
            <div class="underLine" style="width: 110mm;border-bottom: 1px solid "></div>
          </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 45mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{hormoneTherapySpec}}</div>
            <div class="box" style="width: 65mm; border: none;">
              <div class="underLine" style="width: 65mm;border-bottom: 1px solid "></div>
            </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 110mm; border: none; padding-left: 2mm">
            <div class="underLine" style="width: 110mm; border-bottom: 1px solid "></div>
          </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{clinDiag}}</div>
            <div class="box" style="width: 75mm; border: none;">
              <div class="underLine" style="width: 75mm; border-bottom: 1px solid "></div>
            </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 110mm; border: none; padding-left: 2mm">
            <div class="underLine" style="width: 110mm;border-bottom: 1px solid "></div>
          </div>
        </div>

        <div class="box" style="width: 118mm; height: 4.5mm; border: none">
          <div class="box" style="width: 35mm; border: none; line-height: 1.75; letter-spacing: .1mm; font-size: 3mm; text-align: left; padding-left: 2mm">{{signature}}</div>
            <div class="box" style="width: 75mm; border: none;">
              <div class="underLine" style="width: 75mm; border-bottom: 1px solid "></div>
            </div>
        </div>


      </div>
    </div>
  </body>
</html>
