<div class="whiteBox" style="width: 216mm; height: 31.5mm; border: none; border-left: 2px solid; border-right: 2px solid; border-top: 2px solid;">
  <div class="whiteBox" style="width: 46mm; height: 23mm; border: none;">
    <img src="data:image/jpg;base64,{{logoImage}}" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 122mm; height: 23mm; border: none;">
    <div class="whiteBox" style="width: 120mm; height: 10mm; border: none; font-size: 12mm; font-weight: bold; color: black; line-height: 1;">RESEARCH TESTING</div>
    <div class="whiteBox" style="width: 120mm; height: 5mm; border: none; font-size: 8mm; font-weight: bold; color: black; line-height: 1;">Oncology Trials</div>
    <div class="whiteBox" style="width: 120mm; height: 3mm; border: none;"></div>
    <div class="headerBox" style="width: 120mm; height: 5mm; border: none; line-height: 2; font-size: 3.5mm; color: black;">Fax: {{addresses.0.fax}}</div>
  </div>
  <div class="whiteBox" style="width: 46mm; height: 23mm; border: none;">
    <img src="data:image/jpg;base64,{{neoImage}}" alt="neo" style="width:24.98mm; height:11.35mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 46mm; height: 7mm; border: none;">
    <div class="headerBox" style="width: 46mm; height: 3.5mm; color: black; text-align: left; padding-left: 1mm;">{{addresses.0.addressline1}}</div>
    <div class="headerBox" style="width: 46mm; height: 3.5mm; color: black; text-align: left; padding-left: 1mm;">{{addresses.0.city}}, {{addresses.0.state}} {{addresses.0.zip}}</div>
  </div>
  <div class="whiteBox" style="width: 120mm; height: 7mm; border: none;">
    {{#each pathologist}}
    <div class="headerBox" style="width: 40mm; height: 3mm; border: none; color: black; text-align: left;">{{this}}</div>
    {{/each}}
  </div>
  <div class="whiteBox" style="width: 46mm; height: 7mm; border: none;">
    <div class="headerBox" style="width: 46mm; height: 3.5mm; color: black; text-align: right;">{{addresses.1.addressline1}}</div>
    <div class="headerBox" style="width: 46mm; height: 3.5mm; color: black; text-align: right;">{{addresses.1.city}}, {{addresses.1.state}} {{addresses.1.zip}}</div>
  </div>
</div>
