<div class="oncoBox" style="width: 216mm; height: 103.5mm; border: none; border-left: 2px solid; border-right: 2px solid;">
<div class="heading" style="width: 214mm; height: 4.75mm; background-color: silver; color: black; text-align: left; padding-left: 2mm; line-height: 1.25;">IHC Test Menu</div>
<div class="whiteBox" style="width: 50mm; height: 95mm; border: none;">
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.0.name}}</div>
  {{#each ihcTests.groups.0.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.1.name}}</div>
  {{#each ihcTests.groups.1.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
</div>
<div class="whiteBox" style="width: 50mm; height: 95mm; border: none;">
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.2.name}}</div>
  {{#each ihcTests.groups.2.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.3.name}}</div>
  {{#each ihcTests.groups.3.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.4.name}}</div>
  {{#each ihcTests.groups.4.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.5.name}}</div>
  {{#each ihcTests.groups.5.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 48mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.6.name}}</div>
  {{#each ihcTests.groups.6.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 45mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
</div>
<div class="whiteBox" style="width: 35mm; height: 95mm; border: none;">
  <div class="whiteBox" style="width: 33mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.7.name}}</div>
  {{#each ihcTests.groups.7.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 30mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
</div>
<div class="whiteBox" style="width: 40mm; height: 95mm; border: none;">
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.8.name}}</div>
  {{#each ihcTests.groups.8.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.9.name}}</div>
  {{#each ihcTests.groups.9.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.10.name}}</div>
  {{#each ihcTests.groups.10.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.11.name}}</div>
  {{#each ihcTests.groups.11.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
</div>
<div class="whiteBox" style="width: 40mm; height: 95mm; border: none;">
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.12.name}}</div>
  {{#each ihcTests.groups.12.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
  <div class="whiteBox" style="width: 38mm; height: 6mm; border: none; text-align: left; line-height: 2; padding-left: 2mm; font-weight: bold; font-size: 8pt;">{{ihcTests.groups.13.name}}</div>
  {{#each ihcTests.groups.13.tests}}
    <div class="oncoBox" style="width: 5mm; height: 3.25mm; border: none; line-height: 1.5;">
      <div class="checkBox"></div>
    </div>
    <div class="whiteBox" style="width: 35mm; height: 3.25mm; border: none; text-align: left; line-height: 1;">{{name}}</div>
  {{/each}}
</div>
</div>
