{{!billing information section}}
<div class="heading" style="color: white; line-height: 1.25; font-size: 4.5mm; padding-top: 0.5mm;">{{billingInfo}}</div>
<div class="row">
  <div class="whiteBox" style="width: 33mm; border-bottom: none;">{{insurance}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 8mm; border: none; text-align: left; padding-left: 1mm">{{ip}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 13mm; border: none; text-align: left; padding-left: 1mm">{{op}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 30mm; border: none; text-align: left; padding-left: 1mm">{{privatePractice}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 38mm; border: none; text-align: left; padding-left: 1mm">{{hospitalOwned}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">{{patientInsurance}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 20mm; border: none; text-align: left; padding-left: 1mm">{{uninsured}}</div>
  <div class="whiteBox" style="width: 4mm; border: none;">
    <div class="checkBox" style="border: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 19.5mm; border: none; text-align: left; padding-left: 1mm; border-right: 1px solid">{{medicare}}</div>
</div>
<div class="whiteBox" style="width: 217mm; border-bottom: none; text-align: center; border-right: 1px solid"><span class="highlight">{{demographics}}</span></div>
<div class="row">
  <div class="whiteBox" style="width: 37mm; border-bottom: none; text-align: right; padding-left: 1mm;">{{primary}}</div>
  <div class="whiteBox" style="width: 68mm; border: none;">
    <div class="underLine" style="border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 40mm; text-align: right; border: none; text-align: left; padding-left: 1mm; border-right: 1px solid">{{secondary}}</div>
  <div class="whiteBox" style="width: 68mm; border: none;">
    <div class="underLine" style="width: 65mm; border-bottom: 1px solid "></div>
  </div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 15mm; border-bottom: none">{{insuranceID}}</div>
  <div class="whiteBox" style="width: 33.75mm; border: none;">
    <div class="underLine" style="width: 33.75mm; border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 20mm; padding-left: 1mm; border: none;">{{insuranceGroup}}</div>
  <div class="whiteBox" style="width: 33.75mm; padding-left: 1mm; border: none;">
    <div class="underLine" style="width: 33.75mm;border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 15mm; padding-left: 1mm; border: none">{{insuranceID}}</div>
  <div class="whiteBox" style="width: 35mm; padding-left: 1mm; border: none;">
    <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 20mm; padding-left: 1mm; border: none;">{{insuranceGroup}}</div>
  <div class="whiteBox" style="width: 35mm; padding-left: 1mm; border: none; border-right: 1px solid">
    <div class="underLine" style="width: 35mm;border-bottom: 1px solid "></div>
  </div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 32mm; border-bottom: none;">{{policyHolder}}</div>
  <div class="whiteBox" style="width: 35mm; border: none;">
    <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 20mm; border: none;">{{dateOfBirth}}</div>
  <div class="whiteBox" style="width: 20mm; border: none;">
    <div class="underLine" style="width: 20mm; border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 32mm; border: none;">{{policyHolder}}</div>
  <div class="whiteBox" style="width: 35mm; border: none;">
    <div class="underLine" style="width: 35mm; border-bottom: 1px solid "></div>
  </div>
  <div class="whiteBox" style="width: 20mm; border: none; border-right: 1px solid">{{dateOfBirth}}</div>
  <div class="whiteBox" style="width: 20mm; border: none;">
    <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
  </div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 15mm; border-bottom: none;">{{address}}</div>
  <div class="whiteBox" style="width: 55mm; border: none;">
    <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 15mm; border: none;">{{phoneNumber}}</div>
  <div class="whiteBox" style="width: 20mm; border: none;">
    <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 15mm; border: none;">{{address}}</div>
  <div class="whiteBox" style="width: 55mm; border: none;">
    <div class="underLine" style="width: 55mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 15mm; border: none; border-right: 1px solid">{{phoneNumber}}</div>
  <div class="whiteBox" style="width: 20mm; border: none;">
    <div class="underLine" style="width: 20mm; border-bottom: 1px solid"></div>
  </div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 10mm; border-bottom: none;">{{city}}</div>
  <div class="whiteBox" style="width: 40mm; border: none;">
    <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 8mm; border: none;">{{state}}</div>
  <div class="whiteBox" style="width: 15mm; border: none;">
    <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 8mm; border: none;">{{zipCode}}</div>
  <div class="whiteBox" style="width: 25mm; border: none;">
    <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 10mm; border: none;">{{city}}</div>
  <div class="whiteBox" style="width: 40mm; border: none;">
    <div class="underLine" style="width: 40mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 8mm; border: none;">{{state}}</div>
  <div class="whiteBox" style="width: 15mm; border: none;">
    <div class="underLine" style="width: 15mm; border-bottom: 1px solid"></div>
  </div>
  <div class="whiteBox" style="width: 8mm; border: none; border-right: 1px solid">{{zipCode}}</div>
  <div class="whiteBox" style="width: 25mm; border: none;">
    <div class="underLine" style="width: 25mm; border-bottom: 1px solid"></div>
  </div>
</div>
