{{!patient information section}}
<div class="row">
  <div class="whiteBox" style="width: 25mm; line-height: 1;">{{patientName}}</div>
  <div class="brownBox" style="width: 65mm;"></div>
  <div class="whiteBox" style="width: 10mm;">{{firstName}}</div>
  <div class="brownBox" style="width: 50mm;"></div>
  <div class="whiteBox" style="width: 6mm;">{{middleName}}</div>
  <div class="brownBox" style="width: 8.5mm;"></div>
  <div class="yellowBox" style="width: 15mm; line-height: 1;">{{orderingProvider}}</div>
  <div class="yellowBox" style="width: 35mm; border-right: 1px solid ;"></div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 20mm;">{{dateOfBirth}}</div>
  <div class="brownBox" style="width: 19mm;"></div>
  <div class="whiteBox" style="width: 9mm;">{{sex}}</div>
  <div class="brownBox" style="width: 8mm;"></div>
  <div class="whiteBox" style="width: 9mm;">{{socialSecurityNumber}}</div>
  <div class="brownBox" style="width: 40mm;"></div>
  <div class="whiteBox" style="width: 12mm;">{{phoneNumber}}</div>
  <div class="brownBox" style="width: 40mm;"></div>
  <div class="yellowBox" style="width: 12mm;">{{chartNumber}}</div>
  <div class="yellowBox" style="width: 45mm; border-right: 1px solid;"></div>
</div>
<div class="row">
  <div class="whiteBox" style="width: 28mm;">{{patientAddress}}</div>
  <div class="brownBox" style="width: 67mm;"></div>
  <div class="whiteBox" style="width: 8mm;">{{city}}</div>
  <div class="brownBox" style="width: 52mm;"></div>
  <div class="whiteBox" style="width: 6mm;">{{state}}</div>
  <div class="brownBox" style="width: 20.5mm;"></div>
  <div class="whiteBox" style="width: 7mm;">{{zipCode}}</div>
  <div class="brownBox" style="width: 26mm; border-right: 1px solid;"></div>
</div>
