<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <title></title>
  </head>
  <body>
    <div>{{top}}</div>
    <div>{{patient}}</div>
    <div>{{billing}}</div>
    <div>{{womensHealth}}</div>
    <div>{{biopsy}}</div>
  </body>
</html>
