<div class="whiteBox" style="width: 218mm; height: 46.25mm; border: none;">
  <div class="whiteBox" style="width: 100.5mm; height: 20mm; border: none; text-align: left;">
    <img src="data:image/jpg;base64,{{logoImage}}" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 52mm; height: 20mm; border: none;">
    <div class="whiteBox" style="width: 52mm; height: 4mm; border: none;"></div>
    <div class="whiteBox" style="width: 52mm; height: 4mm; border: none; text-align: center; color: black; font-weight: bold;">{{client.clientname}}</div>
    <div class="whiteBox" style="width: 52mm; height: 4mm; border: none; text-align: center; color: black;">{{client.addressline1}}</div>
    <div class="whiteBox" style="width: 52mm; height: 4mm; border: none; text-align: center; color: black;">{{client.city}}, {{client.state}} {{client.zip}}</div>
    <div class="whiteBox" style="width: 52mm; height: 4mm; border: none; text-align: center; color: black;">Phone: {{client.phone}}</div>
  </div>
  <div class="whiteBox" style="width: 10mm; height: 20mm; border: none;"></div>
  <div class="whiteBox" style="width: 48mm; height: 20mm; border: none;">
    {{#each providers}}
    <div class="whiteBox" style="width: 48mm; height: 3.5mm; border: none; text-align: left; color: black;">{{this}}</div>
    {{/each}}
  </div>
  <div class="whiteBox" style="width: 60mm; height: 40mm; border: none; text-align: left;">
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">{{addresses.0.addressline1}}</div>
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">{{addresses.0.city}}, {{addresses.0.state}} {{addresses.0.zip}}</div>
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">Toll Free: {{addresses.0.tollfree}} &#8226 Phone: {{addresses.0.phone}}</div>
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">Fax: {{addresses.0.fax}}</div>
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">{{addresses.1.phone}}</div>
    <div class="headerBox" style="width: 59mm; height: 3mm; border: none; text-align: center;">{{addresses.1.addressline1}}</div>
    <div class="headerBox" style="width: 59mm; height: 5mm; border: none; text-align: center;">{{addresses.1.city}}, {{addresses.1.state}} {{addresses.1.zip}}</div>
  </div>
  <div class="whiteBox" style="width: 35mm; height: 40mm; border: none; text-align: left;">
    {{#each pathologist}}
    <div class="headerBox" style="width: 35mm; height: 3mm; border: none; text-align: left;">{{this}}</div>
    {{/each}}
  </div>
  <div class="whiteBox" style="width: 122.1mm; height: 26mm; border: none; text-align: left;">
    <div class="whiteBox" style="width: 122mm; height: 14mm; border: none;"></div>
    <div class="whiteBox" style="width: 21mm; height: 12mm; border: none;"></div>
    <div class="headerBox" style="width: 100.35mm; height: 12mm; border-top: 1px solid; border-left: 1px solid; border-bottom: none; border-right: 1px solid; text-align: center;">ADDITIONAL REPORT TO: (No copy will be sent without full name &#038 address)</div>

  </div>
</div>
