<div class="whiteBox" style="width: 218mm; height: 46.25mm; border: none;">
  <div class="whiteBox" style="width: 216.5mm; height: 20mm; border: none; text-align: left;">
    <img src="data:image/jpg;base64,{{logoImage}}" alt="logo" style="width:45mm; height:18mm; padding-left: 1mm; padding-top: 1mm;">
  </div>
  <div class="whiteBox" style="width: 45mm; height: 40mm; border: none; text-align: left;">
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{address1line1}}</div>
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{address1line2}}</div>
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{phone1}}</div>
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{fax}}</div>
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{phone2}}</div>
    <div class="headerBox" style="width: 46mm; height: 3mm; border: none; text-align: center;">{{address2line1}}</div>
    <div class="headerBox" style="width: 46mm; height: 5mm; border: none; text-align: center;">{{address2line2}}</div>
  </div>
  <div class="whiteBox" style="width: 43mm; height: 40mm; border: none; text-align: left;">
    {{#each pathologist}}
    <div class="headerBox" style="width: 41mm; height: 3mm; border: none; text-align: left;">{{this}}</div>
    {{/each}}
  </div>
  <div class="whiteBox" style="width: 129.25mm; height: 40mm; border: none; text-align: left;">
    <div class="whiteBox" style="width: 129mm; height: 14mm; border: none;"></div>
    <div class="headerBox" style="width: 100.25mm; height: 3mm; border-top: 1px solid; border-left: 1px solid; border-bottom: none; text-align: center;">ADDITIONAL REPORT TO: (No copy will be sent without full name &#038 address)</div>
    <div class="headerBox" style="width: 28mm; height: 3mm; border-top: 1px solid; border-left: 1px solid; border-right: 1px solid; border-bottom: none; text-align: center;">YPI Accession #:</div>
    <div class="headerBox" style="width: 100.25mm; height: 3mm; border-top: none; border-left: 1px solid; border-bottom: none;"></div>
    <div class="headerBox" style="width: 28mm; height: 3mm; border-top: none; border-left: 1px solid; border-right: 1px solid; border-bottom: none;"></div>
    <div class="headerBox" style="width: 100.25mm; height: 3mm; border-top: none; border-left: 1px solid; border-bottom: none;"></div>
    <div class="headerBox" style="width: 28mm; height: 3mm; border-top: none; border-left: 1px solid; border-right: 1px solid; border-bottom: none;"></div>
    <div class="headerBox" style="width: 100.25mm; height: 3mm; border-top: none; border-left: 1px solid; border-bottom: none;"></div>
    <div class="headerBox" style="width: 28mm; height: 3mm; border-top: none; border-left: 1px solid; border-right: 1px solid; border-bottom: none;"></div>
  </div>
</div>
